<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <script id="vertex-shader" type="x-shader/x-vertex">
attribute vec4 vPosition;
attribute vec4 vColor;

uniform mat4 uModelViewMatrix;

varying vec4 fColor;
void
main()
{   fColor=vColor;
    gl_Position = uModelViewMatrix *vPosition;
}
</script>

    <script id="fragment-shader" type="x-shader/x-fragment">
precision mediump float;
varying vec4 fColor;
void
main()
{
    gl_FragColor = fColor;
}
</script>

    <script type="text/javascript" src="../Common/webgl-utils.js"></script>
    <script type="text/javascript" src="../Common/initShaders.js"></script>
    <script type="text/javascript" src="../Common/MV.js"></script>
    <script type="text/javascript" src="util.js"></script>
    <style>
        #app{
            float: left;
            width: 492px;
            padding: 10px;
            margin: 0 10px 0 10px;
            border:1px solid black;
        }
    </style>
</head>

<body>
    <canvas id="gl-canvas" width="512" height="512" style="border: 1px solid black;float: left;">
        Oops ... your browser doesn't support the HTML5 canvas element
    </canvas>

    <div id="app">
        <div >
            <strong>蝴蝶</strong>
            <div>
                <span>绕X轴旋转</span>
                <input type="range" v-model="angleX" min="-180" max="180" />
                <span>{{angleX}}</span>
            </div>
            <div>
                <span>绕Y轴旋转</span>
                <input type="range" v-model="angleY" min="-180" max="180" />
                <span>{{angleY}}</span>
            </div>
            <div>
                <span>绕Z轴旋转</span>
                <input type="range" v-model="angleZ" min="-180" max="180" />
                <span>{{angleZ}}</span>
            </div>
            <div>
                    <span>绕自身旋转</span>
                    <input type="range" v-model="angleMain" min="-180" max="180" />
                    <span>{{angleMain}}</span>
                </div>
    
            <hr />
            <div>
                <span>沿X轴平移</span>
                <input type="range" v-model="distX" min="-1" max="1" step="0.02" />
                <span>{{distX}}</span>
            </div>
            <div>
                <span>沿Y轴平移</span>
                <input type="range" v-model="distY" min="-1" max="1" step="0.02" />
                <span>{{distY}}</span>
            </div>
            <div>
                <span>沿Z轴平移</span>
                <input type="range" v-model="distZ" min="-1" max="1" step="0.02" />
                <span>{{distZ}}</span>
            </div>
            <div>
                <span>沿前方平移</span>
                <input type="range" v-model="distMain" min="-1" max="1" step="0.02" />
                <span>{{distMain}}</span>
            </div>
            <hr />
            <div>
                <span>缩放</span>
                <input type="range" v-model="zoom" min="0" max="5" step="0.05"/>
                <input  v-model="zoom"/>
            </div>

        </div>
    </div>

    <div id="app1">
        <div >
            <strong>毛毛虫</strong>
            <div>
                <span>绕X轴旋转</span>
                <input type="range" v-model="angleX" min="-180" max="180" />
                <span>{{angleX}}</span>
            </div>
            <div>
                <span>绕Y轴旋转</span>
                <input type="range" v-model="angleY" min="-180" max="180" />
                <span>{{angleY}}</span>
            </div>
            <div>
                <span>绕Z轴旋转</span>
                <input type="range" v-model="angleZ" min="-180" max="180" />
                <span>{{angleZ}}</span>
            </div>
            <div>
                    <span>绕自身旋转</span>
                    <input type="range" v-model="angleMain" min="-180" max="180" />
                    <span>{{angleMain}}</span>
                </div>
    
            <hr />
            <div>
                <span>沿X轴平移</span>
                <input type="range" v-model="distX" min="-1" max="1" step="0.02" />
                <span>{{distX}}</span>
            </div>
            <div>
                <span>沿Y轴平移</span>
                <input type="range" v-model="distY" min="-1" max="1" step="0.02" />
                <span>{{distY}}</span>
            </div>
            <div>
                <span>沿Z轴平移</span>
                <input type="range" v-model="distZ" min="-1" max="1" step="0.02" />
                <span>{{distZ}}</span>
            </div>
            <div>
                <span>沿前方平移</span>
                <input type="range" v-model="distMain" min="-1" max="1" step="0.02" />
                <span>{{distMain}}</span>
            </div>
            <hr />
            <div>
                <span>缩放</span>
                <input type="range" v-model="zoom" min="0" max="5" step="0.05"/>
                <input  v-model="zoom"/>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>

</body>

</html>