<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <script id="vertex-shader" type="x-shader/x-vertex">
        attribute vec4 vPosition;
attribute vec4 vColor;
uniform mat4 uCameraMatrix;
uniform mat4 uProjectionMatrix;

uniform mat4 uModelViewMatrix;

varying vec4 fColor;
void
main()
{   fColor=vColor;
    gl_Position = uProjectionMatrix * uCameraMatrix * uModelViewMatrix * vPosition;
}
</script>

    <script id="fragment-shader" type="x-shader/x-fragment">
        precision mediump float;
varying vec4 fColor;
void
main()
{
    gl_FragColor = fColor;
}
</script>
    <style>
        .app{
            float: left;
            width: 492px;
            padding: 10px;
            margin: 0 10px 0 10px;
            border:1px solid black;
        }
    </style>
</head>

<body>
    <canvas id="gl-canvas" width="512" height="512" style="border: 1px solid black;float: left;">
        Oops ... your browser doesn't support the HTML5 canvas element
    </canvas>
    <div id="camera" class="app">
        <div>
            <strong>视图</strong>
            <button v-if="!animeHandle" @click="play">播放</button>
            <button v-else @click="stop">停止</button>
        </div>
        <div>
            <span>左右</span>
            <input type="range" v-model="theta" min="-180" max="180" />
            <span>{{Math.floor(theta)}}</span>
        </div>
        <div>
            <span>上下</span>
            <input type="range" v-model="phi" min="-180" max="180" />
            <span>{{Math.floor(phi)}}</span>
        </div>
        <div>
            <span>前后</span>
            <input type="range" v-model="radius" min="0" max="100" step="1" />
            <span>{{Math.floor(radius)}}</span>
        </div>
    </div>
</body>

</html>